# Dependencies
node_modules/

# Build and distribution outputs
dist/
out/
.vite/

# Installer files & executables
*.exe
*.msi
*.zip
*.tar.gz
*.dmg
*.bin
*.pak

# Log files
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db
# Database & Logs
*.sqlite
*.db
*.log